
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Oswald', sans-serif;
}

/*Estilização da parte de conteúdo*/

.content .texts{
    text-align: center;
    margin-top: 50px;
}

.texts .title{
    font-weight: 700;
}

.subtitle{
    margin-top: 20px;
    font-weight: 400;
}

/*Estilização da section*/

section{
    margin-top: 50px;
}


.slider-content img{
    height: 500px;
    margin: 20px auto auto 220px;

}


/* Contexto */

.history_inicio{
    display: flex;
    align-items: center;
    background-color: rgb(216, 23, 234);
    height: 500px;
    margin-top: 50px;
}

.history_inicio img, .history_sucesso img{
    height: 500px;
    width: 600px;
}

.history_inicio h1, .history_inicio p, .history_premiacoes, .footer{
    color: white
}

.history_sucesso .history_text h1, .history_inicio h1{
    margin-bottom: 10px;
}

.history_inicio .history_text, .history_premiacoes .history_text{
    padding: 70px 0 0 30px;
    height: 400px;
}

/*O sucesso*/

.history_sucesso{
    display: flex;
    align-items: center;
    background-color: #FFCC00;
    height: 500px;
}


.history_sucesso .history_text{
    margin-left: 30px;
    padding: 70px;
}

/*Premiações*/

.history_premiacoes{
    display: flex;
    align-items: center;
    height: 400px;
    background-color: #D65B50
}

.history_premiacoes img, .history_hiato img{
    height: 400px;
    width: 500px;
}

.history_premiacoes ul{
    padding: 30px
}

/*Hiato*/

.history_hiato h1{
    margin-bottom: 20px;
}

.history_hiato{
    display: flex;
}

.history_hiato .history_text{
    padding: 70px;
}
