@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Oswald', sans-serif;
}

/*header da tela de quiz*/

.header{
    background-color: white;
}

.header .container img{
    height: 120px;
    margin-left: 20px;
}

.header .container .navbar .lista{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin-right: 100px;
    width: 800px;
    font-size: 20px;
    font-weight: 700;
}

.header .container .navbar ul li a, .config a, .sair a{
    text-decoration: none;
    color: black
}

.navbar li a:hover, .active, .config a:hover, .sair a:hover{
    font-size: 22px;
}

.header .container{
    box-shadow: 0 0 5px 5px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
}

.sair{
    margin-left: 100px;
}
















/* PARTE DE QUIZ*/

.form{
    width: 40%;
    text-align: center;
    margin-top: 10vh;
    background-color: white;
    border: black 2px ridge;
}

.question{
    display: flex;
    flex-direction: column;
}

.slt_options{
    width: 140px;
    height: 50px;
    border-radius: 50px;
    background-color: #cfcfcf;;
    text-align: center;
    margin: 10px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content h1{
    margin-top: 40px;
    margin-bottom: 20px;
}

.content img{
    height: 300px;
}

.content img, .form{
    border-radius: 20px;
}

.sub{
    font-size: 18px;
}

.button button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40px;
    width: 90px;
    border-radius: 5px;
    background-color: black;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 17px;
    cursor: pointer;
}










/*PLAYLIST LP ESTILOS*/


.main{
    display: none;
    justify-content: space-between;
    width: 80%;
}


.main img{
    height: 400px;
    width: 500px;
}

.frase{
    text-align: right;
    margin-left: 20px;
}

#tent button{
    width: 100px;
}









/*AVALIE-NOS*/

.input{
    height: 40px;
    margin-bottom: 10px;
    text-align: center;
    border: black;
    background-color: #cfcfcf;
    border-radius: 5px;
}